* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}

.intro {
    text-align: center;
    padding: 2rem 0;
}

.intro h2 {
    font-size: 2rem;
    color: #030303;
}

.intro p {
    font-size: 1.1rem;
    color: #101011;
    margin-top: 10px;
}

.members-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.member {
    background-color: white;
    width: 250px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.member:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.member img {
    width: 100%;
    height: auto; 
    border-radius: 0; 
    object-fit: cover; 
    margin-bottom: 15px;
}

.member h3 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
    text-decoration: none;
}

.member p {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 5px;
}

footer {
    background-color: #ffffff;
    position: absolute; 
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-family: Arial, sans-serif;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #1abc9c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.background-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5; 
}